@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible()); <!-- see below for explanation of IsVisible helper method -->
}

<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
			<h1><strong><a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a></strong></h1>
				
		<!-- Nav -->
        <nav id="nav">
            <ul>
            	@foreach (var item in selection)
            	{
            		<li class="nav-item">
            			
            			 <a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
            			 
            		</li>
            	}
            </ul>
        
            @*<ul>
                <li><a href="/kontakta-oss">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>*@
         </nav>
				
				@*<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>*@
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			
@RenderBody()

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; @Model.Value("footerText", fallback: Fallback.ToAncestors)</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>



