@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

@{
	var selection = Umbraco.Content(Guid.Parse("d4593191-7f6f-425b-8574-76480928968e"))
    .ChildrenOfType("productItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}


<section id="four" class="wrapper style3 special">
	<div class="container">
		<header class="major">
			<h2>@Model.Value("title")</h2>
			<p>@Model.Value("bodyText")</p>
		</header>
	</div>
</section>


<section id="main" class="wrapper">
<div class="container">
 
@foreach (ContentModels.ProductItem item in selection)
{
   <a href="@item.Url">
            
            <h3>@item.ProductName</h3>
            <h4>@item.Price SEK</h4>
            <img style="width:200px" src="@item.Image.Url" alt="Alternate Text" />
            <hr>
    </a>
}

</div>
</section>

        




